<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>易贷便携操作</h1>
<h2>主要功能：可快速在测试环境中建立新用户，可使用该用户访问核心，但核心相关系统并未完全做短板</h2>
<h3>注意：1.使用时请先查看readme.txt文件</h3>
<h4>注意：服务端使用92 数据库使用83</h4>
<br>
<a href="/registerUser/">新用户快速注册</a>
<br>
<a href="/createUser/">用户实名认证（二要素验证）</a>
<br>
<a href="/createUser/fill">联系人认证</a>
<br>
<a href="/createUser/face_idcard">人脸识别、身份证识别(H5)、身份证扫描(APP)、身份证正反面</a>
<br>
<a href="/createUser/cardbin">绑银行卡</a>
<br>
<a href="/loan/index">进件提交</a>
</body>
</html>